*{
	margin: 0;
	padding: 0;
}
html {
	font-size: 375%;
	height: 100%;
}
body {
	font-family: "微软雅黑","microsoft yahei","方正兰亭纤黑简体";
	background: #FFFFFF;
	font-size: 0.208rem;/*24px*/
	color: #333333;
	display: block;
	margin: 0 auto;
	width: 100%;
	overflow-x: hidden;/*禁用左右滚动条*/
	left：0;
	right：0;
}
a{
	
	text-decoration:none;
}
img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	no-repeat left center;
}
.bg_default {
	background: #FB673C;
}
.bg_yellow {
	background: #FE6732;
}
.bg_white {
	background: #FFFFFF;
}
.bg_gray{
	background:#ECECEC;
}

.clear {
	clear: both;
}
.c-white {
	color: #FFFFFF;
}
.c-yellow {
	color: #FE6732;
}

.c-dark {
	color: #333333;
}
.c-gray {
	color: #666666;
}
.c-light-gray {
	color: #999999;
}


.fs48{
	font-size: 0.417rem;
}
.fs40{
	font-size: 0.347rem;
}
.fs36{
	font-size: 0.3125rem;
}
.fs32{
	font-size: 0.28rem;
}
.fs30{
	font-size: 0.26rem;
}
.fs28{
	font-size: 0.243rem;
}
.fs24{
	font-size: 0.208rem;
}
.fs20{
	font-size: 0.174rem;
}
.fs18{
	font-size: 0.156rem;
}
.fs16{
	font-size: 0.137rem;
}
section {
	width: 100%;
	margin: 0 auto;
}
/**分割块*/
.segment{
	width: 100%;
	height: 0.173rem;
	float: left;
	background: #F1F5F6;
	border-bottom: 1px solid #EDEDED;
	border-top: 1px solid #EDEDED;
}
/**分散对齐*/
.justify{
	text-align:justify;
	text-justify:distribute-all-lines;
	text-align-last:justify;
}


header {
	width: 100%;
	height: 0.87rem;
	line-height: 0.87rem;
	text-align: center;
	font-size: 0.32rem;
	background: #FB673C;
	color: #FFFFFF;
	position: fixed;
	top: 0;
	z-index: 999999999999;
}

header #head_left {
	display: block;
	left: 0.26rem;
	position: absolute;
	z-index: 1;
	width: 0.44rem;
	height: 100%;
	line-height: 0.87rem;
	text-align: left;
	font-size: 0.56rem;
	margin: 0 auto;

}
header #head_right {
	display: block;
	position: absolute;
	right: 0.26rem;
	top: 0;
	z-index: 2;
	height: 100%;
	width: 0.44rem;
	text-align: right;
	font-size: 0.34rem;
	margin: 0 auto;
	background: no-repeat left center;
}
/**标题类 分割块*/
.segment-title{
	width: 100%;
	height: 0.434rem;
	background: #000000;
	color: #FFFFFF;
	text-align: center;
	font-size: 0.3125rem;
}
footer {
	width: 100%;
	height: 0.87rem;
	line-height: 0.87rem;
	text-align: center;
	font-size: 0.32rem;
	color: #FB673C;
	background: #FE6732;
	position: fixed;
	bottom: 0;
	z-index: 11;
}


/*轮播图*/
.flexslider{
	width: 100%;
	/*margin-top: 0.87rem;*/
}
.flexslider .slides img{
	height:3.47rem;
}

/*产品信息*/
#cpxx dl {
	padding: 0.21rem 0rem 0.21rem 0rem;
	float: left;
	width: 91.7% ;
	margin-bottom: 0.174rem;
	height: 1.78rem;
	margin: 0 auto;
	margin-left: 4.15%;
}
#cpxx dt {
	width: 100%;
	float: left;
}
#cpxx dd {
	width: 100%;
	margin-top: 0.25rem;
	float: left;
}


/*企业信息*/
#qyxx{
	padding: 4.15%;
	width: 91.7% ;
	padding-top: 0;
	text-align: center;
}
#qyxx div{
	margin: 0 auto;
}

#qyxx #logo {
	border-radius: 50%;
	width: 1.58rem;
	height: 1.58rem;
	border:1px #DCDCDC solid; 
	background:#ECECEC;
	text-align: center;
	margin: 0.26rem auto;
	-webkit-box-shadow: #DCDCDC 0px 0px 5px;
	-moz-box-shadow: #DCDCDC 0px 0px 5px;
	box-shadow: #DCDCDC 0px 0px 5px;
}
#qyxx .xinxi{
	width: 48%;
	float: left;
	margin-top:0.26rem ;
	margin-bottom: 0.347rem;
	line-height: 0.4rem;
	color: #FFFFFF;
	font-size: 0.243rem;
}
#qyxx .xinxi div{
	width: 92%;
	background: #FE6732;
	border-radius: 8px;
	margin: 0 auto;
}

#qyxx .fengexian{
	width: 35%;
	overflow:hidden;
	white-space:nowrap;
	float: left;
	line-height: 0.4rem;
	color: #999999;
}
#qyxx .jianjie{
	float: left;
	margin-top: 0.347rem;
	margin-bottom: 0.347rem;
	text-align: left;
	font-weight:bold;
}

/*企业信息*/
#qy_info dl {
	padding: 0.21rem 0rem 0.21rem 0rem;
	float: left;
	width: 91.7% ;
	margin-bottom: 0.174rem;
	height: 1.78rem;
	margin: 0 auto;
	margin-left: 4.15%;
}
#qy_info dt {
	width: 100%;
	float: left;
}
#qy_info dd {
	width: 100%;
	margin-top: 0.25rem;
	float: left;
}
