ul, li, dl,dd,dt{ margin:0; padding:0; list-style:none;}
body,div,p,form{margin:0; padding:0; line-height:1.5em; font-size:14px;}
body{ background:#ededed;}
img {border:0;}
a:link {color:#000; text-decoration:none;}
a:hover{color:#000; text-decoration:none;}
a:visited{color:#000; text-decoration:none;}
a:active{color:#000; text-decoration:none;}

.top{height:33px; overflow:hidden; margin:0 0 10px 0; padding:0 10px; background:url(../images/top_bg.png) repeat-x top; position:fixed; top:0; width:100%;}
.top img{vertical-align:middle;}
.top span{ vertical-align:middle;line-height:33px;color:#FFF; font-size:13px;}
.top .logo{ vertical-align:middle; height:33px;}
.top .comm {width:20%; height: 33px; text-align:center;} 
.top .comm img{ margin-right:5px;}
.top .comm a{display: block;}
.news_top{margin-top:38px;}
.contain{padding:0 10px;}
.contain .news{padding: 10px 0; background:url(../images/line_bottom.gif) repeat-x bottom;  font-size:16px;display:block; *display:inline-block;}
.contain .news:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}

.contain .news dt{ float:left; border:solid 1px #ccc; -moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px; padding:2px; background:#fff; margin-right:10px;}

.contain .news img{width:100px; height:75px;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius:2px;-khtml-border-radius: 2px;}
.contain .news .time{font-size:12px; color:#666; margin-right:10px;}

.load_page{ display:block; text-align:center; color:#fff !important;text-shadow: #666 1px 1px 1px; margin:10px 20px 30px 20px; height:30px; line-height:30px; background:url(../images/btn_bg.png) repeat-x; border:#0079ce 1px solid;-moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px;}
.load_page:hover{ background:url(../images/btn_b.png) repeat-x;}

.next_page{ width: 250px; margin:0 auto 20px auto; display:block; *display:inline-block;}
.next_page:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
.next_page .next_btn{ display:block; float:left; width:100px; margin:0 10px; text-align:center; color:#fff;text-shadow: #666 1px 1px 1px;  height:30px; line-height:30px; background:url(../images/btn_bg.png) repeat-x; border:#0079ce 1px solid;-moz-border-radius:3px; -webkit-border-radius:3px; -khtml-border-radius:3px; border-radius:3px;}
.next_page .next_btn:hover{ background:url(../images/btn_b.png) repeat-x;}
.next_over{background:url(../images/btn_over.png) !important; border:#666 !important;}



.tag_list{list-style:none; margin:0 0 20px 0; padding:0; line-height:31px;}
.tag_list li{list-style:none; margin:0; padding:0; background:url(../images/line_bottom.gif) repeat-x bottom; font-size:16px;}
.tag_list li a{display:block; background:url(../images/tag_bg.png) no-repeat right center ;}


.search{height:33px; overflow:hidden; margin:0 0 20px 0; padding:0 10px; border-top:solid 1px #ccc; border-bottom:solid 1px #ccc; background:url(../images/tit_bg1.gif) repeat-x;}
.search form{height:24px; margin: 4px 0; border:solid 1px; border-color:#9d9d9d #aaa #ccc #9d9d9d; background:#fff;}
.search .input_sear{ width:100%;height:19px; border:none;}
.search .btn_sear{float:right; margin-left:5px; height:24px; width:30px; margin:0; border:none; border-left:solid 0px #bbb; background:url(../images/icon_search.png) no-repeat right; color:#333; font-size:12px; line-height:23px;}


.title_1{margin:0 0 10px 0; font-weight:bold;}
.tit_line{background:url(../images/line_tit.gif) repeat-x center;}

.title_2{height:33px; overflow:hidden; padding:0 10px; border-top:solid 1px #ccc; border-bottom:solid 1px #ccc; background:url(../images/tit_bg1.gif) repeat-x; font-weight:bold; font-size:16px; line-height:33px;}
.title_2 .more{font-weight:normal; font-size:14px; text-align:right;}

.footer{color:#666; text-align:center;}
.footer a{color:#666; text-decoration:underline;}

.wrapper{padding:0 10px; margin-top:53px;}
.wrapper h1{font-size:18px;}
.wrapper .infor{ margin-bottom:10px;}
.wrapper .infor span{ margin-right:10px;}
.wrapper .from{font-weight:bold;}
.wrapper .belong{ margin-bottom:10px; display:block; *display:inline-block;}
.wrapper .belong:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}
.wrapper .belong li{ list-style:none; float:left; margin-right:10px;}
.wrapper .belong a{text-decoration:underline;}
.wrapper .share{margin:15px 0;}
.wrapper .text{ font-size:16px; margin-bottom:10px;}
.wrapper .text .img{ text-align:center; padding:10px 0;}
.text img{max-width:260px;}
.next_page a:link, .next_page a:hover, .next_page a:visited{color:white;}

.recommend{margin:0 0 20px 0;}
.recommend ul{list-style:none; margin:0; padding:0;}
.recommend li{list-style:none; margin:0; padding:0; line-height:22px;}

.text p{ font-size:16px !important; line-height:1.5em !important; padding:5px 0 !important;}
.text p img{ margin:auto; display:block;}	

.recommend{margin:0 0 20px 0;}
.recommend ul{list-style:none; margin:0; padding:0;}
.recommend li{list-style:none; margin:0; padding:0; line-height:22px;}
.news .comments{ display:inline-block; padding-left:18px; background:url(../images/comments_s.png) no-repeat 0 3px;font-size:12px; color:#666; margin-right:10px;}

.wrapper .text p a:link,
.wrapper .text p a:visited{color:#06c;}

.top .home{ width:20%; display:inline-block;}
.top .logo_two{width:60%; text-align:center; display:inline-block; }
.top .logo_two img{ vertical-align:middle; margin-top:10px;}
.top .nothing { text-align:center;} 

.top .logo_three{width:50%; text-align:center; display:inline-block;}
.top .logo_three img{ vertical-align:middle; } 
